/* You can add global styles to this file, and also import other style files */
body {
    color: rgb(224, 224, 224);
    font-size: 5em;
    /*filter: drop-shadow(5px 5px 3px black);*/
    text-align: center;
    background-image: url("background.png");
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plenty {
    color:rgb(40, 180, 40);
}

.low {
    color:rgb(200, 200, 50);
}

.critical {
    color:rgb(226, 135, 16);
}

.gone {
    color:rgb(200, 0, 0);
}

.next {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #62b1df;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px rgb(95, 95, 95);
}

.next:active {
    background-color: #62b1df;
    box-shadow: 0 4px #666;
    transform: translateY(6px);
}
